{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/disciplinas/save" method="post">
        <div>
            <label for="nome">Nome do Professor: </label>
            <select name="professor_id" id="nome" required>
                <option value=""></option>
                {% for p in professores %}
                <option value="{{p.id}}">{{p.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="disciplina">Disciplina: </label>
            <select name="_id" id="pizza" required>
                <option value=""></option>
                {% for p in pizzas %}
                <option value="{{p.id}}">{{p.sabor}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="credito">Credito: </label>
            <input type="number" name="credito" id="credito" required>
        </div>
        <button type="submit">Salvar</button>
    </form>
{% endblock %}