* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Inter';
}
header {
    background-color: rgb(39, 104, 189);
    display: flex;
    height: 5rem;
    color: white;
    align-items: center;
    justify-content: center;
}
header a {
    text-decoration: none;
    color: white;
}
nav {
    display: flex;
    padding: 1rem;
    background-color: rgb(29, 77, 139);
    font-size: 24px;
    height: 3.5rem;
}
nav a {
    color: white;
    margin-right: 3rem;
    text-decoration: none;
}
main {
    min-height: calc(100vh - 8.5rem - 3.5rem);
    padding: 1rem;
}
footer{
    background-color: rgb(39, 104, 189);
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;
    color: white;
    font-size: 24px;
}
table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    padding: 0.5rem;
}
table {
    margin-bottom: 1rem;
}