{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/professores/save" method="post">
        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome">
        </div>
        <div>
            <label for="departamento">Departamento: </label>
            <input type="text" name="departamento" id="departamento">
        </div>
        <button type="submit">Salvar</button>
    </form>
{% endblock %}