{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/professores/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Departamento</th>
        </tr>
        {% for p in professores %}
        <tr>
            <td>{{p.nome_professor}}</td>
            <td>{{p.departamento}}</td>
            <td>
                <a href="/professores/remove/{{p.id}}">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}